COHERE_API_KEY=your_cohere_api_key_here
INGESTION_SERVICE_URL=http://localhost:8001
CHROMA_PATH=/chemin/absolu/vers/intrabot-ingestion/data/chroma
CHROMA_COLLECTION_NAME=intrabot
APP_HOST=0.0.0.0
APP_PORT=8002
LOG_LEVEL=INFO
